footer{
    background: greenyellow no-repeat center;
    page-break-after: always;
}
#main{
    background: greenyellow no-repeat center;
}
embed {
    -webkit-filter: contrast(1) brightness(1);
    filter: contrast(1) brightness(1);
}

#embed2 {
    image-rendering: -moz-crisp-edges; /* Firefox */
    image-rendering: -o-crisp-edges; /* Opera */
    image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
}
#embed3 {
    object-fit: fill;
    image-rendering: pixelated;
    object-position: unset;
    mask-type: inherit;
}

q {
    quotes: "«" "»";
}

#link:hover {
    opacity:0.5;
    clip: rect(0px,200px,500px,0px);
    position: absolute;
}

#audio_div{
    background-attachment: fixed;
    background-image: url("../pictures/house.jpg");
    background-position: center;
    background-repeat: repeat;
    background-origin: border-box;
}
#main1{
    background-position: center;
    background-repeat: repeat;
    background-origin: border-box;
    right: auto;
    top: auto;
    visibility: visible;
    z-index:1;
    margin-top: 150px;
}
#main3{
    background-clip:content-box;
    background-size: 60px 40px;
    border-bottom-color:#ff56d7;
    border-bottom-color:#ff56d7;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 1em;
    border-top-left-radius: 1em;
    border-top-right-radius: 2em;
    border-bottom-style: double;
    border-left: ridge;
    border-left-color: #daff16;
    border-right: ridge;
    border-right-color: #daff16;
    box-decoration-break: clone;
    box-shadow: 0 0 15px #ffff6f;
    border-collapse:collapse;
    caption-side: bottom;
}
#main2{
    box-shadow: 0 0 15px #ffff6f;
    border-image-slice: 30;
    display: flex;
    align-items: center;
    align-self: center;
    height:100px;
    width: 700px;
    background-color: #4ebfed;
    margin-right: 40%;
    margin-left: 23.5%;
}
#inner{
    border-bottom: thick;
    border-bottom-color:#ff56d7;
    border-bottom-color:#ff56d7;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 1em;
    border-top-left-radius: 1em;
    border-top-right-radius: 2em;
    border-bottom-style: double;
    border-left: ridge;
    border-left-color: #daff16;
    border-right: ridge;
    border-right-color: #daff16;
    box-decoration-break: clone;
    box-shadow: 0 0 15px #ffff6f;
    border-collapse:collapse;
    caption-side: bottom;

}
#inner1{
    background-color: #4ebfed;
    border-top-color:cadetblue;
    border-bottom: thick;
    border-bottom-color:#ff56d7;
}
#inner2{
    text-orientation: upright;
    border-bottom-color:#ff56d7;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 1em;
    border-top-left-radius: 1em;
    border-top-right-radius: 2em;
    border-bottom-style: double;
    border-left: ridge;
    border-left-color: #daff16;
    border-right: ridge;
    border-right-color: #daff16;
    box-decoration-break: clone;
    box-shadow: 0 0 15px #ffff6f;
    border-collapse:collapse;
    caption-side: bottom;
}
#inner3{
    border-left-color: #daff16;
}
#table{
    background-clip: border-box;
    border-style: solid;
    border-radius:2px;
    border-top: double;
    border-width:6px;
    border-top-color:cadetblue;
    border-bottom: thick;
    border-bottom-color:#ff56d7;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 1em;
    border-top-left-radius: 1em;
    border-top-right-radius: 2em;
    border-bottom-style: double;
    border-left: ridge;
    border-left-color: #daff16;
    border-right: ridge;
    border-right-color: #daff16;
    box-decoration-break: clone;
    box-shadow: 0 0 15px #ffff6f;
    border-collapse:collapse;
    caption-side: bottom;
    cursor: col-resize;
}

#table2{
    border: double deepskyblue;
    border-right-style: inset;
    border-left-style: inset;
    border-color: #80dcf3 #fffe14 #ff56d7;
    border-bottom-width: 25px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-style: double;
    border-top-width: 25px;
    border-collapse: separate;
    border-spacing: 10px 50px;
    empty-cells: hide;
    table-layout: fixed;
}

#selection{
    background-image: url("../pictures/candy.jpg");
    background-clip:content-box;
    background-size: 60px 40px;
}

#dialog {
    align-content: space-around;
    flex: 1;
    flex-basis: 80px;
    flex-direction: row-reverse;
    flex-flow: row-reverse wrap;
    flex-grow: 7;
    flex-shrink: 3;
    flex-wrap: wrap;
    justify-content: space-around;
    order: 1;
}

#div_dialog{
    border-image: url("../pictures/border.png") 15 stretch;
    border-image-outset: 1px;
    border-image-repeat: repeat;
    border-image-slice: 30;
    display: flex;
    align-items: center;
    align-self: center;
    height:100px;
    width: 700px;
    background-color: #4ebfed;
    margin-right: 40%;
    margin-left: 23.5%;
}

#dialog2{
    border-image-source: url("../pictures/border2.png");
    border-image-width: 20px;
}

/* Counter */
#try_counter h1 {
    counter-reset: subsection;
}

#try_counter h1:before {
    counter-increment: section;
    content: "Section " counter(section) ". ";
}

#try_counter h2:before {
    counter-increment: subsection;
    content: counter(section) "." counter(subsection) " ";
}

#try_counter h3:before {
    counter-increment: section;
    content: counter(section) "." counter(subsection) " ";
}

#lists{
    height: 300px;
    width: 300px;
    bottom: 5px;
    hanging-punctuation: first; /*vale koha peal, listiga ei saa kasutada*/
    border: 3px solid #ff6e58;
    list-style: square;
    list-style-image: url("../pictures/orange_circ.png");
    list-style-position: inside;
}

#unord {
    list-style-type: armenian;
    color: #5ff7c9;
}

#ord {
    list-style-type: katakana;
    color: #ff56d7;
    marquee-direction: forward;
    marquee-play-count: 2;
    marquee-speed: fast;
    marquee-style: alternate;
}

#list_item{
    writing-mode: vertical-rl;
    text-orientation: upright;
}

#progress_bar{
    clear: right;
    float:left;
}

#pre{

    float:right;
    clear: left;
    display: inline;
    vertical-align: text-bottom;
    counter-increment: none;
}

#a_plus_b{
    background-color: #ffff6f;
    color: #05071a;
    border: 4px double lightgreen;
    margin: 2cm 4cm 3cm 4cm;
    margin-top: 2cm;
    margin-right:4cm;
    margin-bottom: 3cm;
    margin-left: 4cm;
    max-height: 150px;
    max-width: 600px;
    min-height: 30px;
    min-width: 500px;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 2cm 4cm 3cm 4cm;
    padding-top: 1cm;
    padding-right: 0.1cm;
    padding-bottom: 1cm;
    padding-left: 1cm ;
    text-align: center;
    text-align-last: center;
}

#video{
    height: 300px;
    width: 300px;
    left: 345px;
    position: absolute;
    right: auto;
    top: auto;
    visibility: visible;
    z-index:1;
    margin-top: 150px;
}

#txt_area{
    overflow: scroll;
    vertical-align: text-bottom;
    align-content: space-around;
    word-break: keep-all;
}

#quote{
    hyphens: auto;
    line-break: normal;
    letter-spacing: -1px;
    overflow-wrap: normal;
    tab-size: 4;
    text-combine-upright: digits 2;
    text-indent: 50px;
    white-space: nowrap;
    font: 20px antiqua;
}

#heading4{
    text-shadow: 0 2px #0b7e2d;
    letter-spacing: -2px;
    line-break: normal;
    line-height: 190%;
    text-transform: uppercase;
    text-align: justify;
    text-justify: inter-word;
    text-decoration: overline;
    text-decoration-line: overline;
    text-decoration-color: #ff36ed;
    font-family: "Times New Roman", Serif;
    font-size:17px;
    font-style:italic;
    font-weight:bold;
    font-variant:small-caps;
    unicode-bidi:normal;
}
@font-face {
    font-family: myFirstFont;
    src: url(sansation_light.woff);
}
@keyframes mymove {
    from {top: 0px;}
    to {top: 2px;}
}
#only_span {
    -webkit-columns: 100px 3; /* Chrome, Safari, Opera */
    -moz-columns: 100px 3; /* Firefox */
    columns: 100px 3;
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;
    -webkit-column-rule: 4px outset #ceff3e; /* Chrome, Safari, Opera */
    -moz-column-rule: 4px outset #ceff3e; /* Firefox */
    column-rule: 4px outset #ceff3e;
    -webkit-column-rule-color: #68ffd8; /* Chrome, Safari, Opera */
    -moz-column-rule-color: #68ffd8; /* Firefox */
    column-rule-color: #68ffd8;
    -webkit-column-rule-style: double; /* Chrome, Safari, Opera */
    -moz-column-rule-style: double; /* Firefox */
    column-rule-style: double;
    -webkit-column-rule-width: 13px; /* Chrome, Safari, Opera */
    -moz-column-rule-width: 13px; /* Firefox */
    column-rule-width: 13px;
    -webkit-column-width: 100px; /* Chrome, Safari, Opera */
    -moz-column-width: 100px; /* Firefox */
    column-width: 100px;
}

#only_span h1 {
    -webkit-column-span: 10; /* Chrome, Safari, Opera */
    column-span: all;
}

#heading5{
    word-spacing: 30px;
    word-wrap: break-word;
    text-decoration: underline;
    text-underline-position: below;
    text-decoration-style: double;
    font-family: antiqua;
    font-feature-settings: unset;
    font-kerning: initial;
    font-language-override: normal;

}
#lookin{
    opacity: 0;
}
#add_head1 {
    border: 4px groove lavenderblush;
    background-color: #daff16;
    color: #05071a;
    width: 400px;
    -webkit-transition: width 2s; /* Safari 3.1 to 6.0 */
    transition: width 2s;
    transition-property: width;
    -webkit-transition-duration: 4s;
    transition-duration: 4s;
    -webkit-transition-timing-function: ease; /* Safari and Chrome */
    transition-timing-function: ease;
    -webkit-transition-delay: 2s; /* Safari */
    transition-delay: 2s;
}

.divis {
    box-sizing: border-box;
    border: double burlywood;
    height: 100px;
    width: 600px;
}

#samp {
    border: double burlywood;
    position: relative;
    height: 100px;
    width: 300px;
    margin: 50px;
    padding: 10px;
    outline: #00FF00 double thick;
    resize: horizontal;
    overflow: auto;
    text-overflow: ellipsis;
}

#ruby {

    position: relative;
    height: 100px;
    width: 600px;
    margin: 140px;
    padding: 10px;
}

#add_head1:hover {
    width: 160px;
}

#apels {
    border: 3px double pink;
    width: 500px;
    outline-color: #1ba1ff;
    outline-offset: 1px;
    outline-style: double;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    outline-width: 5px;
}

#paragr {
    border: 5px double #e0adff;
    position: relative;
    height: 160px;
    width: 160px;
    margin: 50px;
    padding: 10px;
    background-color: #6cddff;
    -webkit-transform: rotateY(180deg); /* Chrome, Safari, Opera */
    transform: rotateY(180deg);
    color: #ff6206;
    backface-visibility: visible;
    -webkit-perspective: 150px; /* Chrome, Safari, Opera */
    -webkit-perspective-origin: 10% 10%; /* Chrome, Safari, Opera */
    perspective: 150px;
    perspective-origin: 10% 10%;
    -ms-transform-origin: 50% 40%; /* IE 9 */
    -webkit-transform-origin: 50% 40%; /* Chrome, Safari, Opera */
    transform-origin: 50% 40%;
    -webkit-transform-style: preserve-3d; /* Chrome, Safari, Opera */
    transform-style: flat;
    box-sizing: border-box;

}

.heading1 {
    height: 150px;
    width: 50px;
    border: dotted greenyellow;
    -webkit-writing-mode: vertical-rl;
    text-orientation: sideways-right;
    -webkit-animation: infinite;
    -o-animation: infinite;
    animation: infinite;
    -webkit-animation-name: mymove; /* Chrome, Safari, Opera */
    animation-name: mymove;
    position: relative;
    margin-left: 300px;
    webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-fill-mode: backwards; /* Chrome, Safari, Opera */
    animation-fill-mode: backwards;
    -webkit-animation-iteration-count: 3;
    animation-iteration-count: 3;
    -webkit-animation-play-state: running; /* Chrome, Safari, Opera */
    animation-play-state: running;
    -webkit-animation-timing-function: ease; /* Chrome, Safari, Opera */
    animation-timing-function: ease;
}